Application/Project/Listings/
Application/Project/Objects/
Application/Project/*.uvguix.*
Application/Project/*.uvoptx
Application/Project/*.scvd
Application/*.si4project
Bootloader/Project/Listings/
Bootloader/Project/Objects/
Bootloader/Project/*.uvguix.*
Bootloader/Project/*.uvoptx
Bootloader/Project/*.scvd